
@media only screen and (max-width:740px){
#wrapper{ 
background:#ccc;
}
}

@media only screen and (max-width:570px){
#wrapper{ 
background: #f0f0f5;
}
}

@media only screen and (max-width:480px){
#wrapper{ 
background:#f8ecf2;
}
}


#wrapper{
float:none;
width:100%;
columns:1;

}

